* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navegation{
    position:relative;
    width:100%;
    padding: 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background: #fff;
}
.navbar{
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.container-fluid .logo{
    position: relative;
    max-width: 100px;
    align-items: left;
}
.container-fluid #navbar-nav{
    position: relative;
    display: flex;
}
.nav-item{
    list-style: none;
}
#nav-link{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.content{
    background-color: white;
    position:relative;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.content .textBox{
    position: relative;
    max-width: 600px;
    padding: 50px;
    font-family: 'Poppins';
}
.content .textBox h1{
    color: #333;
    font-size: 30px;
    line-height: 1.2em;
    font-weight: 500;
    letter-spacing: none;
}
.content .textBox h2{
    color: #333;
    font-size: 3.5em;
    line-height: 1em;
    font-weight: 500;
    text-align: center;
}
.content .textBox h3{
    color: #333;
    font-size: 3em;
    line-height: 1.2em;
    font-weight: 500;
    text-align: center;
    letter-spacing: none;
}
.content .textBox h2 span{
    color: #8DE934;
    font-size:1.4em;
    font-weight:900;
}
.content .textBox p{
    color: #333;
    font-size: 1.5em;
}
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .imagen{
    width:600px;
    display:flex;
    justify-content: flex-end;
    padding-right: 80px;
    margin-top: 10px;
}


.content2{
    background-color: #83D58F;
    position:relative;
    width:100%;
    display:flex;
    justify-content:space-between;
}
.content2 .textBox{
    position: relative;
    max-width: 600px;
    padding: 80px;
    font-family: 'Poppins';
}
.content2 .textBox h3{
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
    text-align: right;
    padding: 20px;
    font-family: 'Poppins';
}
.content2 .textBox p{
    color: #333;
    font-size: 1.5em;
    text-align: justify;
}
.content2 .logo{
    width:600px;
    display:flex;
    padding: 60px;
    margin-top: 10px;
    align-self: center;  
}


.content3 .card-title{
    width: 960px;
    padding: 50px 1px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: right;
}

h4{
    font-size:65px;
    font-weight:550;
    line-height: 1em;
}
.content3 .card-img-top{
    margin:2px 130px;
    width:990px;
    line-height: 1em;
    text-align: right;
    
}

.card-content4{
    width: 960px;
    text-align: center;
    font-size:20px;

}
.card-body .card-title{
    
    display: flex;
    width: 960px;
    font-size: 17px;
    text-align: justify;
}
.my-cards {
    display: flex;
}
.espacio-20 { 
    margin:50px;
    background: #8DE934;
}



.content5{
    position:relative;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    align-content: left;
}
.content5 .textBox{
    position: relative;
    max-width: 600px;
    padding: 50px;
    font-family: 'Poppins';
    text-align: left;
}
.content5 .textBox h6{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content5 .textBox p{
    color: #333;
    font-size: 1.8em;
    font-family: 'Poppins';
}
.content5 .textBox a{
    display: inline-block;
    margin-top: 30px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content5 .logo{
    width:600px;
    display:flex;
    padding: 60px;
    margin-top: 10px;
}

.card-body .card-title{
    display: flex;
    width: 960px;
    font-size: 17px;
    text-align: justify;
}
.my-cards {
    display: flex;
}
.espacio-20 { 
    margin:50px;
}